body {
    overflow-x: hidden;
    overflow: hidden;
}

.app {
    height: 100vh;
    width: 100vw;
}

.app-stack {
    text-align: center;
    width: 20em;
}

.eye {
    position: absolute;
    top: 0.6em;
    right: -1.7em;
    color: grey;
    cursor: pointer;
}

.hidden {
    display: none;
}

.qr-icon {
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
}

.acb {
    position: absolute !important;
    right: 1em;
    bottom: 1em;
}

.nav-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
}

.title {
    font-size: 2rem !important;
    font-weight: bold !important;
    margin-bottom: 0em !important;
}

.subtitle {
    font-size: 1rem !important;
    color: #444 !important;
    margin-top: 0em !important;
}

.mantine-TextInput-input,
.mantine-Button-root,
.mantine-ActionIcon-root {
    box-shadow: 0px 8px 25px -11px rgba(0, 0, 0, 0.35);
}

.saved-icon {
    width: 1.2em;
    height: 1.2em;
    transform: translateY(0.4em);
    margin-right: 0.5em;
}

.saved-label {
    font-size: 1.2em !important;
    font-weight: bold;
}

.otp-saved {
    margin-top: 1em;
    height: 4.2em;
    transition: height 0.2s ease-in-out;
}

.otp-saved:hover {
    height: 10em;
}

.otp {
    font-size: 2em !important;
    letter-spacing: 0.3em;
    text-align: center;
}

#otpc {
    height: 40vh;
    overflow-y: auto;
}

#otpc::-webkit-scrollbar {
    width: 0.25em;
}

#otpc::-webkit-scrollbar-thumb {
    background-color: #00000022;
}

#otpc::-webkit-scrollbar-track {
    background-color: #f1f1f100;
}

.delete {
    color: #f88;
    position: absolute;
    right: 1em;
    top: 1.4em;
}

.delete:hover {
    cursor: pointer;
    color: #f00;
}